@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body
{
    min-height: 100vh;
    background: linear-gradient(#2b1055,#7597de);
}
header
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
}
header .Logo
{
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
}
header ul
{
    display: flex;
    justify-content: center;
    align-items: center;
}
header ul li
{
    list-style: none;
    margin-left: 20px;
}
header ul li a
{
text-decoration: none;
padding: 6px 15px;
color: #fff;
border-radius: 20px;

}
header ul li a:hover,
header ul li a.active
{
    background: #fff;
    color: #410c97;

}
img
{
    position: absolute;
    width: 100vw;
    height: 100vh;
}

section{
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

*#text
{
    position: absolute;
    color: #fff;
    white-space: nowrap;
    font-size: 7.5vw;
    z-index: 9;
}
.clock {
    font-size: 80px;
    margin-top: 100px;
}

span {
    color: #ffffff;
}

/* Залиште ваші існуючі стилі */

/* Стилі для кнопки мови */
.language-button {
    background-color: rgba(0, 0, 0, 0.288); 
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Стилі для кнопки мови при наведенні */
.language-button:hover {
    background-color: #00000007;
}

/* Стилі для кнопки мови */
.language-button {
    background-color: rgba(0, 0, 0, 0.288); 
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Стилі для кнопки мови при наведенні */
.language-button:hover {
    background-color: #00000007;
    color: #000; /* Змініть колір тексту на потрібний */
}

/* Стилі для кнопки мови */
.language-button {
    background-color: rgba(0, 0, 0, 0.288); 
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 20px; /* Закруглені кути на постійно */
    cursor: pointer;
}

/* Стилі для кнопки мови при наведенні */
.language-button:hover {
    background-color: #00000007;
    color: #000; /* Змініть колір тексту на потрібний */
    border-radius: 20px; /* Закруглені кути на постійно */
}
